.git
.turbo
**/.turbo
.env
.env.*
!.env.example
node_modules
apps/*/node_modules
packages/*/node_modules
bun_node_modules
postgres_data
rustfs_data_*
rustfs_logs
typesense-data
coverage
dist
apps/*/dist
.svelte-kit
apps/*/.svelte-kit
apps/*/build
playwright-report
test-results
*.log
